.portrait-container {
    padding: 10px 60px!important;
}
.portrait {
    border-radius: 50%;
    width:220px;
    height:220px;
}
.topbar {
    background-color: #505050;
    position: relative;
    height: 160px;
    color: #f2f2f2;
    margin-bottom: 20px;
}